* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --container-width: 100%;
    --section-width: 980px;
    --color-darkblue: #112141;
    --color-organge: #ba9066;
    --color-darkred: #b70f0b;
    --color-gray: #a19a94;
}
body {
    min-height: 1300px;
    background: url(../images/bg-top.jpg) top center no-repeat, url(../images/bg-bottom.jpg) bottom center no-repeat;
    background-color: #f2f2f2;
    font-family: Cambria, serif;
    font-size: 13px;
}

#header {
    width: 1000px;
    height: 60px;
    margin: auto;
}

#header a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

#menu {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

#menu > li {
    border-left: 1px solid rgba(255, 255, 255, 0.6);
    width: 100px;
    text-align: center;
}

#menu > li:first-child {
    padding-left: 0;
    border-left: none;
}

#menu > li:last-child {
    padding-right: 0;
}

#logo-space {
    width: 200px !important;
}

.container {
    position: relative;
    width: 980px;
    margin: auto;
   margin-top: 600px;
}

#long-den {
    position: absolute;
    top: 0;
    left: -80px;
    z-index: 999;
}

.section-1 {
    display: grid;
    grid-template-columns: 240px 490px 254px;
    gap: 8px;
    background-color: #112141;
    border: 2px solid #112141;
}

.left-buttons a {
    display: block;
    width: 100%;
}

#tai-game {
    background: url(../images/btn_taigame.jpg) no-repeat;
    height: 128px;
}

#tai-game:hover {
    opacity: 0.8;
}

#dang-ky,
#nap-the {
    background-image: url(../images/buttons-left.png);
    height: 62px;
}

#dang-ky {
    background-position: 0 -3px;
}

#dang-ky:hover {
    background-position: -248px -3px;
}

#nap-the {
    background-position: 0 -66px;
    margin-top: 3px;
}

#nap-the:hover {
    background-position: -248px -66px;
}

.slider img {
    width: 100%;
}

.right-buttons {
    display: grid;
    grid-template-columns: 113px 135px;
    grid-template-rows: 103px 103px 32px;
    gap: 6px 4px;
    padding: 0;
}

#giang-ho,
#ho-tro,
#nap-vang,
#nap-vip {
    background-image: url(../images/buttons-right.png);
    background-repeat: no-repeat;
}

#giang-ho {
    background-position: 0 -7px;
}

#ho-tro {
    background-position: -118px -7px;
}

#nap-vang {
    background-position: 0 -118px;
}

#nap-vip {
    background-position: -118px -118px;
}

#hotline {
    grid-column: 1 / span 2;
    background-image: url(../images/hotline.png);
}

.news {
    width: 70%;
    padding-top: 20px;
}

.news article {
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}

.news article img {
    width: 100px;
    height: 100px;
    display: block;
    border: 5px solid rgb(168, 168, 7);
}

.news article h2 {
    font-size: 16px;
    color: rgb(196, 8, 8);
    margin-bottom: 10px;
}

.links {
    margin-left: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: -43px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

footer img {
    display: block;
    padding-inline-end: 70%; /* Adjust padding as needed */
    margin-bottom: 10px; /* Add some bottom margin for spacing */
}

footer p {
    margin-bottom: 5px; /* Add bottom margin for spacing between paragraphs */
}



.menu-link {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.tab-item {
    cursor: pointer;
    margin-right: 10px;
}

.cuamlenh {
    margin-top: 5px;
}
.background-new {
    position: relative;
    padding: 0; 
    margin: -210px auto;
    width: 98%;
    border-width: 5px; 
    text-align: left;
    border: 3px solid #112141;
    box-sizing: border-box; 
}
  .background-new .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1; 
  }

.menu-news {
    position: relative;
    top: 40%;  /* Adjust as necessary to position the menu */
    left: 40%;
    transform: translate(-50%, -50%);
    list-style: none;
    padding: 0;
    margin: -29px;
    text-align: center;
}

.menu-news li {
    display: inline-block;
    margin-bottom: 12px;
    padding-top: 5px;
}

.menu-news a {
    text-decoration: none;
    padding: 10px 20px;
    color: rgba(145, 141, 12, 0.892);
    font-weight: bold;
}

.menu-news a:hover {
    color: #fff;
}
.post-links {
    display: flex;
    justify-content: flex-end;
}

.post-links a {
    background-color: var(--color-darkblue);
    color: var(--color-gray);
    padding: 20px;
    margin: 0 30px 20px 0px;
    text-transform: uppercase;
    font-weight: bold;
    border: 3px solid var(--color-gray);
}
.post-links {
    display: flex;
    justify-content: flex-end;
}

.post-links a {
    background-color: var(--color-darkblue);
    color: var(--color-gray);
    padding: 20px;
    margin: 0 30px 20px 0px;
    text-transform: uppercase;
    font-weight: bold;
    border: 3px solid var(--color-gray);
}
.post-links {
    display: flex;
    justify-content: flex-end;
}

.post-links a {
    background-color: var(--color-darkblue);
    color: var(--color-gray);
    padding: 20px;
    margin: 0 30px 20px 0px;
    text-transform: uppercase;
    font-weight: bold;
    border: 3px solid var(--color-gray);
}